<body>
      <h1 class="header center orange-text">MarkMarket</h1>
      <div class="row center">
        <h5 class="header col l12">Vendi e compra contenuti digitali</h5>
      </div>
      <div class="row center">
        <a href="http://localhost:3000/contents" id="download-button" class="btn-large waves-effect waves-light orange">Vai ai contenuti </a>
      </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <br><br>
      <div class="row center">
        <h6 class="header col l12">Come funziona MarkMarket</h6>
      </div>
      <div class="row">
        <div class="col l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Vantaggio 1</h5>

            <p class="light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
          </div>
        </div>

        <div class="col l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Vantaggio 2</h5>

            <p class="light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
          </div>
        </div>

        <div class="col l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Vantaggio 3</h5>

            <p class="light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
